.btnContainer{
    text-align: center;
}

.btn {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.btn:hover {
    color: black;
}