.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table, 
.tr > * {
    border: 1px solid gray;
    text-align: left;
}

.centerRow{
    text-align: center;
    padding-left: 0 !important;
}

thead tr th {
    padding: 5px 0 5px 5px;
}

.icon{
    cursor: pointer;
}

.addIcon {
    float: right;
    margin-bottom: 10px;
}

.addIcon:hover{
    color: green;
}

@media screen and (max-width: 900px) {
    .container {
        width: 90%;
    }

    thead tr th {
        padding: 20px 0 20px 5px;
    }
}

@media screen and (max-width: 500px) {
    .table, 
    .tr > * {
        font-size: 3vw;
    }
}

